@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--white: #fff;
	--black: #000;
	--accent: #7f70b8;
	--accent2: #d5cdf3;
	--surface: #f3f2ed;
	--surface2: #efede3;
	--grey1: #d9d9d9;
	--grey2: #787676;
	--muted: #787676;
	--muted-light: #7A7A7A;
	--none: transparent;
	--red: #f00;
}


@layer utilities {
  .inter-300 {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  .inter-500 {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .inter-700 {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  .btn {
    @apply px-8 py-2 bg-accent text-white rounded-full font-semibold;
  }
  
  .btn-outline {
    @apply px-8 py-2 bg-transparent text-lg text-accent rounded-full font-semibold border border-accent;
  }
  .btn-green-outline {
    @apply px-8 py-2 bg-transparent text-lg text-green-400 rounded-full font-semibold border-2 border-green-400;
  }
}

@layer base {
  .h1 {
    @apply text-3xl font-bold;
  }
  .h1normal {
    @apply text-3xl;
  }
  .h1xl {
    @apply text-5xl leading-snug font-bold;
  }
  .h1xlnormal {
    @apply text-5xl;
  }

  .h2 {
    @apply text-3xl font-bold leading-normal;
  }
  .h2normal {
    @apply text-3xl font-normal leading-normal;
  }
}
